.main {
  display: flex;
}
.header {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: space-evenly;
  max-width: 1000px;
  margin: auto;
  list-style: none;
}
.list {
  display: flex;
  align-content: stretch;
  align-items: center;
}
.block {
  margin-left: 40px;
}
.slider_content {
}
.slide {
}
