.button_read_more {
  font-size: 17px;
  font-family: 'Lato';
  cursor: pointer;
  border: 1px solid;
  border-radius: 25px;
  padding: 11px 17px;
  color: #4dc1be;
  width: 92px;
  background: black;
  margin: 25px;
}
.main_desserts {
  display: flex;
  justify-content: center;
  margin: 90px;
}
.selection_of_desserts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}
.image_container_desserts {
  background: url('../../utils/images/desserts.jpg');
  height: 189px;
  width: 765px;
}
.find_your_taste {
  font-size: 35px;
  font-family: 'Lato';
  font-weight: 600;
  color: white;
}
