.stock_title {
  padding: 50px;
}
.headline {
  color: #f06b9a;
  font-family: 'Pacifico';
  font-size: 30px;
  font-weight: 500;
}
.promotion {
  font-size: 40px;
  font-family: 'Petrona';
  padding: 3px;
  font-weight: 700;
  letter-spacing: 3px;
}
.image_with_ice_cream {
  padding: 8px;
}
.content_of_promotion {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card_box {
  margin: 10px 0px;
}

.imageContainerBlue {
  background: url('../../utils/images/blue_ice_cream.jpg');
  height: 433px;
  width: 360px;
}

.imageContainerGreen {
  background: url('../../utils/images/green_ice_cream.jpg');
  background-size: 100% 100%;
  height: 433px;
  width: 360px;
}
.imageContainerRose {
  background: url('../../utils/images/rose_ice_cream.jpg');
  height: 433px;
  width: 360px;
}
.raspberryFlavour {
  color: #4dc1be;
  font-weight: 600;
  font-size: 22px;
  font-family: 'Petrona';
}
.meldOfFlavor {
  color: #a3bd3e;
  font-weight: 600;
  font-size: 22px;
  font-family: 'Petrona';
}
.naturalSweetness {
  color: #ba6972;
  font-weight: 600;
  font-size: 22px;
  font-family: 'Petrona';
}
.icуCreamTaste {
  font-weight: 600;
  font-size: 25px;
  font-family: 'Petrona-BoldItalic';
  padding: 10px;
}
.informationAboutIceCream {
  padding: 50px;
}
