.headline {
  color: #f06b9a;
  font-family: Pacifico, cursive;
  font-size: 20px;
  font-weight: 700;
}
.promotion {
  font-size: 26px;
  font-family: 'Lato';
  padding: 3px;
  font-weight: 700;
}
.image_with_ice_cream {
  padding: 8px;
}
