.main {
}

.footer_desc {
  display: flex;
  max-width: 1000px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 10px;
  font-weight: 600;
}

.footer_desc_bottom {
  bottom: 0;
}
.footer {
  position: absolute;
  margin: auto;
  width: 100%;
  background-color: #11cadf;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image__git {
  width: 30px;
  margin: 0px 10px;
}
