.main {
  margin: auto;
  max-width: 1200px;
  position: relative;
  height: 457px;
}
.slider_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  margin: auto;
  text-align: center;
  width: 100%;
}

.content {
  position: absolute;
}
.content__background_image {
  width: 100%;
  min-width: 800px;
}

.slide_text_first {
  font-family: 'Lato';
  font-size: 20px;
  color: #fff;
}
.slide_text_second {
  font-family: 'Lato';
  font-size: 44px;
  color: #fff;
  font-weight: bolder;
}

.slide {
  margin-top: 16%;
  padding-left: 30%;
}

.button__switch {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 99%;
}

.button_previous {
  background-color: rgba(0, 0, 0, 0.05);
  border: solid 0px;
  width: 80px;
  cursor: pointer;
  z-index: 10;
  transition: 0.5s;
  color: rgba(255, 255, 255, 0.05);
  font-size: 43px;
}

.button_previous:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.8);
  font-size: 43px;
}
@media screen and (min-width: 1000px) {
  .main {
    margin: auto;
    max-width: 1700px;
    position: relative;
    height: 550px;
  }
}

@media screen and (max-width: 1000px) {
  .main {
    margin: auto;
    max-width: 1200px;
    position: relative;
    height: 480px;
  }
}

@media screen and (max-width: 768px) {
  .main {
    margin: auto;
    max-width: 1200px;
    position: relative;
    height: 348px;
  }
}
