@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petrona:wght@100&display=swap');
@font-face {
  font-family: 'Pacifico';
  src: url('./fonts/Pacifico-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
.App {
  text-align: center;
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}
