.ice_cream_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cart_main_box {
  width: 400px;
  padding: 10px;
  margin: 10px;
}
.card_name {
  font-family: 'Petrona';
  font-weight: 600;
  font-size: 25px;
}
.card_description {
  font-family: 'Pacifico';
  font-weight: 500;
}
.card_price {
  font-family: 'Pacifico';
  font-weight: 600;
}
